body {
    margin: 0;
    padding: 0;
    margin-top: 1.5em;

    background-color: rgba(0, 0, 0, 0.479);

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;

}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background {
    background-color: rgb(8, 8, 146);
}*/


/*Pantalla y borde de la pantalla*/

.container-arriba {
    height: 15em;
    width: 15em;
    border-radius: 15%;
    border: 1em solid black;
}


/*Borde de arriba*/

#arribapantalla {
    width: 31em;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}


#arribapantallaizquierda {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 15px;
    
}


#arribapantallacentro {
    width: 5em;
    height: 2em;
}


#arribapantalladerecha {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top-right-radius: 15px;
}


/*Gomas parte de arriba de la pantalla*/

#gomaarribaizq {
    background: linear-gradient(to bottom, grey, rgb(23, 21, 21));
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    margin-top: 0.3em;
    border: 0.1em solid black;
}


#gomaarribader {
    background: linear-gradient(to bottom, grey, rgb(23, 21, 21));
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    border: 0.1em solid black;
}


/*Pantalla total*/

#screen {
    width: 31em;
    height: 25em;
}


/*Cuadrado que engloba la pantalla*/

#lateralespantalla {
    background-color: black;
    width: 24em;
    height: 22em;
    border: 0.25em inset rgb(31, 29, 105);
}


/*Margen de arriba de la pantalla*/

#margensuperior {
    width: 24em;
    height: 1em;
    background-color: black;
}


/*La propia Pantalla*/

#pantallavisible {
    border: 0.12em double rgb(53, 51, 51);
    background-image: linear-gradient(to top right, rgb(27, 26, 26), grey);
    background-repeat: no-repeat;
    width: 21.5em;
    height: 18em;
    margin-left: 1.2em;
}


/*Margen de abajo de la pantalla*/

#margeninferior {
    width: 24em;
    height: 3em;
    background-color: black;
    
}

/*Marca en margen inferior de la pantalla*/

#marcapantalla {
    width: 17em;
    height: 2em;
    background-color: black;
    background-image: url(../img/marcagameboy.png);
    background-size: cover;
}

/*Borde de abajo*/

#abajopantalla {
    width: 31em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#abajopantallaizq {
    width: 2em;
    height: 2.5em;
    margin-top: 0.1em;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#abajopantallacentro {
    width: 5em;
    height: 2.5em;
}


#abajopantallader {
    width: 2em;
    height: 2.5em;
    margin-top: 0.1em;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*Tapas parte de abajo de la pantalla*/

#tapaizq {
    background-color: rgb(8, 8, 146);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    border: 0.1em inset black;
}

#tapader {
    background-color: rgb(8, 8, 146);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    border: 0.1em inset black;
}


/*Bisagra gameboy*/

.container-axis {
    width: 31em;
    height: 2em;
    border-radius: 15px;
    display: flex;
    border: 0.1em solid black;
}

#container-axis-1 {
    border-right: solid 0.1em rgb(3, 3, 66);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 2em;
    width: 5em;
}

#container-axis-2 {
    border-right: solid 0.1em rgb(3, 3, 66);
    height: 2em;
    width: 5em;
}

#container-axis-3 {
    border-right: solid 0.1em rgb(3, 3, 66);
    height: 2em;
    width: 8em;
}

#container-axis-4 {
    border-right: solid 0.1em rgb(3, 3, 66);
    height: 2em;
    width: 8em;
}

#container-axis-5 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2em;
    width: 5em;
}

/*Parte de abajo gameboy*/

.container-abajo {
    height: 25em;
    width: 31em;
    border-radius: 15px;
}

/*Control-luz*/

#container-abajo-luces {
    height: 6em;
    width: 31em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}


#light-nothing {
    width: 10em;
    height: 2.5em;
    border-top-left-radius: 15px;    
}

/*Botón del brillo*/

#light-button {
    width: 3em;
    height: 3em;
}


#botonbrillo {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: grey;
    border: 0.2em inset rgb(19, 13, 105); 
    margin-top: -1em;
}

/*Leds*/

#leds {
    width: 10em;
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 15px;
}

/*Leds de encendido*/

.luces {
    width: 1.2em;
    height: 0.6em; 
    background: linear-gradient(to bottom, rgb(134, 130, 130), rgb(175, 165, 165));  
}

#espacioluces {
    width: 1.2em;
    height: 1em;
}

/*Crontoles de juego totales, conjunto*/

#container-botonescontrol {
    width: 31em;
    height: 11em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Rejilla del altavoz*/

#container-rejilla {
    width: 31em;
    height: 6em;
}

/*Botones select y start*/

#container-botonesencendido {
    width: 31em;
    height: 1.5em;
    display: flex;
    justify-content: center;
}

/*Control-botones-select/start-abajo*/

#container-botonesfisicos-encendido {
    width: 31em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: start;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
}

/*Control de cruceta*/

#control-cruceta {
    border: 0.1em;
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.39);
    border-radius: 50%;
    height: 10em;
    width: 10em;
    flex-direction: column;
}

/*Contenedor botones A y B*/

#control-botones {
    border-radius: 40%;
    height: 5em;
    width: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(135deg);
    border: 0.1em;
    box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.39);
}

.arrows {
    display: flex;
    height: 2em;
    width: 7em;
    justify-content: center;
    align-items: center;
}


/*Flechas*/

#arrows-top {
    height: 2em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


#top-left {
    height: 2em;
    width: 2em;
    border-top-left-radius: 50%;
}


#top-center {
    background-color: grey;
    height: 2em;
    width: 2.2em;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    margin-bottom: -3px;
    position: absolute;
}


#top-right {
    height: 2em;
    width: 2em;
    border-top-right-radius: 50%;
}


#arrows-center {
    height: 2.5em;
}


#center-left {
    background-color: grey;
    height: 2.2em;
    width: 2em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}


#center-center {
    height: 2em;
    width: 2.2em;
}


#circle {
    
    background-color: grey;
    border-radius: 50%;
    box-shadow: 0 0.5em 0.5em rgba(63, 63, 63, 0.1), 0 0.5em 0.5em rgba(63, 63, 63, 0.2) inset;
    height: 3.2em;
    width: 3.2em;
    position: absolute;
    z-index: 1;
}


#center-right {
    background-color: grey;
    height: 2.2em;
    width: 2em;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}


#arrows-bottom {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


#bottom-left {
    height: 2em;
    width: 2.5em;
    border-bottom-left-radius: 50%;
}

#bottom-center {
    background-color: grey;
    height: 2.1em;
    width: 2.2em;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}


#bottom-right {
    height: 2em;
    width: 2.5em;
    border-bottom-right-radius: 50%;
}

/*Botones A y B*/

.A-B {
    width: 3em;
    height: 3em;
    background-color: grey;
    border-radius: 50%;
    border: 0.1em outset rgb(66, 61, 61);
    transform: rotate(225deg);
}



.rejilla-vacia {
    width: 12em;
    height: 5em;
}


/*Rejilla*/

#grill-grill {
    width: 6.5em;
    height: 6.5em;
    margin-bottom: 3em;
}


.container-big-point {
    display: flex;
    width: 6.5em;
    height: 1.6em;
}

.container-point {
    width: 8em;
    height: 2em;
}

.point {
    background-color: rgb(20, 20, 20);
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
}

#select {
    height: 1em;
    width: 15.3em;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 2em;
}

#start {
    width: 15.3em;
    height: 1em;  
}

/*Texto select y start*/

.ss {
    
    color: rgb(14, 14, 231);
    -webkit-text-stroke: 0.1em rgb(35, 35, 168);
    font-size: 0.8em;
    font-weight: bold;   
    
}


/*Botones fisicos select y start*/

.botones-encendido {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: grey;
    margin: 0 0.7em 0 0.6em;
    border: 0.1em outset rgb(66, 61, 61);
}