body {
    margin: 0;
    padding: 0;
    margin-top: 2em;

    background-color: black;

    height: 100vh;
    width: 100vw;

}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.background {
    background-color: rgb(8, 8, 146);
}*/

/*Contenedor principal */
/*.container {
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}*/

/*Pantalla y borde de la pantalla*/

.container-arriba {
    height: 15em;
    width: 15em;
    border-radius: 1em;
    border: 1em solid black;
}


/*Borde de arriba*/

#arribapantalla {
    width: 31em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}


#arribapantallaizquierda {
    width: 2em;
    height: 2.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 15px;
    
}


#arribapantallacentro {
    width: 5em;
    height: 2.5em;
}


#arribapantalladerecha {
    width: 2em;
    height: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 15px;
}


/*Gomas parte de arriba de la pantalla*/

#gomaarribaizq {
    background: linear-gradient(to bottom, grey, rgb(23, 21, 21));
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    border: 0.1em solid black;
}


#gomaarribader {
    background: linear-gradient(to bottom, grey, rgb(23, 21, 21));
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    border: 0.1em solid black;
}


/*Pantalla total*/

#screen {
    width: 31em;
    height: 25em;
}


/*Cuadrado que engloba la pantalla*/

#lateralespantalla {
    background-color: black;
    width: 24em;
    height: 22em;
    border: 0.25em inset grey;
}


/*Margen de arriba de la pantalla*/

#margensuperior {
    width: 24em;
    height: 1em;
    background-color: black;
}


/*La propia Pantalla*/

#pantallavisible {
    border: 0.12em double rgb(53, 51, 51);
    background-image: linear-gradient(to top right, rgb(27, 26, 26), grey);
    background-repeat: no-repeat;
    width: 21.5em;
    height: 18em;
    margin-left: 1.2em;
}


/*Margen de abajo de la pantalla*/

#margeninferior {
    width: 24em;
    height: 3em;
    background-color: black;
    
}

/*Marca en margen inferior de la pantalla*/

#marcapantalla {
    width: 17em;
    height: 2em;
    background-color: black;
    background-image: url(../img/marcagameboy.png);
    background-size: cover;
}

/*Borde de abajo*/

#abajopantalla {
    width: 31em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#abajopantallaizq {
    width: 2em;
    height: 2.5em;
    margin-top: 0.1em;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#abajopantallacentro {
    width: 5em;
    height: 2.5em;
}


#abajopantallader {
    width: 2em;
    height: 2.5em;
    margin-top: 0.1em;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*Tapas parte de abajo de la pantalla*/

#tapaizq {
    background-color: rgb(8, 8, 146);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    border: 0.1em inset black;
}

#tapader {
    background-color: rgb(8, 8, 146);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    border: 0.1em inset black;
}


/*Bisagra gameboy*/

.container-axis {
    width: 31em;
    height: 2em;
    border-radius: 15px;
    display: flex;
    border: 0.1em solid black;
}

#container-axis-1 {
    border-right: solid 0.1em rgb(3, 3, 66);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 2em;
    width: 5em;
}

#container-axis-2 {
    border-right: solid 0.1em rgb(3, 3, 66);
    height: 2em;
    width: 5em;
}

#container-axis-3 {
    border-right: solid 0.1em rgb(3, 3, 66);
    height: 2em;
    width: 8em;
}

#container-axis-4 {
    border-right: solid 0.1em rgb(3, 3, 66);
    height: 2em;
    width: 8em;
}

#container-axis-5 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2em;
    width: 5em;
}

/*Parte de abajo gameboy*/

.container-abajo {
    height: 25em;
    width: 31em;
    border-radius: 15px;
}

/*Control-luz*/
#container-abajo-luces {
    height: 6em;
    width: 31em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}


#light-nothing {
    width: 10em;
    height: 2.5em;
    /*border-top-left-radius: 50%;*/    
}

/*Botón del brillo*/

#light-button {
    width: 3em;
    height: 3em;
}


#botonbrillo {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: grey;
    border: 0.1em inset black;
    margin-top: -1em;
}

/*Icono del brillo*/

/*#icon {
    width: 1px;
    height: 1px;
    margin-bottom: 3vh;
    margin-right: 1.45vw;
          
}*/

/*Leds*/

#leds {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 15px;
}

/*Leds de encendido*/

.luces {
    width: 1.2em;
    height: 0.6em; 
    background: linear-gradient(to bottom, rgb(134, 130, 130), rgb(175, 165, 165));   
}

#espacioluces {
    width: 1em;
    height: 0.5em;
}

/*Control-botones*/

#container-buttons-control {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Control-rejilla*/
#container-buttons-grill {
    width: 100%;
    height: 10vh;
}

/*Control-select-start*/
#container-buttons-start {
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*Control-botones-select/start-abajo*/
#container-buttons-small {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
}

/*Contenedor de todas las direcciones*/
#control-arrows {
    border: 7px inset grey;
    border-radius: 50%;
    height: 15vh;
    width: 8vw;
    flex-direction: column;
}

/*Contenedor botones A y B*/
#control-buttons {
    border-radius: 25px;
    height: 8vh;
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(135deg);
    border: 4px outset grey;
}

.arrows {
    display: flex;
    height: 3vh;
    width: 6vw;
}

/*Flechas*/
#arrows-top {
    height: 3.5vh;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#top-left {
    height: 3vh;
    width: 2vw;
    border-top-left-radius: 50%;
}

#top-center {
    background-color: grey;
    height: 3vh;
    width: 2vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: -3px;
    position: absolute;
}

#top-right {
    height: 3vh;
    width: 2vw;
    border-top-right-radius: 50%;
}

#arrows-center {
    height: 3.5vh;
}

#center-left {
    background-color: grey;
    height: 3.5vh;
    width: 2vw;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#center-center {
    height: 3.5vh;
    width: 2vw;
}

#circle {
    background: linear-gradient(to bottom, grey, rgb(43, 40, 40));
    height: 5.4vh;
    width: 2.8vw;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

#center-right {
    background-color: grey;
    height: 3.5vh;
    width: 2vw;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#arrows-bottom {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#bottom-left {
    height: 3vh;
    width: 2vw;
    border-bottom-left-radius: 50%;
}

#bottom-center {
    background-color: grey;
    height: 3.5vh;
    width: 2vw;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


#bottom-right {
    height: 3vh;
    width: 2vw;
    border-bottom-right-radius: 50%;
}

/*Botones A y B*/
.A-B {
    width: 2.5vw;
    height: 5vh;
    background-color: grey;
    border-radius: 50%;
    border: 1.5px outset rgb(75, 58, 58);
    transform: rotate(225deg);
}

/*Dos divs vacios, al lado de la rejilla*/
.grill-empty {
    width: 40%;
    height: 100%;
}

/*Rejilla*/
#grill-grill {
    width: 20%;
    height: 100%;
    margin-bottom: 7vh;
}

.container-big-point {
    display: flex;
    width: 100%;
    height: 25%;
}

.container-point {
    width: 25%;
    height: 100%;
}

.point {
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#select {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 1vw;
}

#start {
    width: 50%;  
    height: 100%;  
}

.ss {
    text-shadow: 0.1vw 0.1vh  rgb(117, 108, 108);
    color: grey;
    font-size: 10px;   
}

.small-buttons {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: grey;
    border: 1px inset grey;
    margin: 0 0.7vw 0 0.6vw;
}